In [2]:
import pandas as pd

## First look at the data

In [5]:
df = pd.read_csv('customer_shopping_data.csv')
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

As from the above dataset information, there is not any missing values. The column invoice date is an object datatype. Therefore the datatype for this column needs to be changed to a datetime format.

In [12]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format ='%d/%m/%Y' )
print(df['invoice_date'].dtype)

datetime64[ns]

In [13]:
df['total_spent'] = df['quantity'] * df['price']
print(df['total_spent'])

0         7502.00
1         5401.53
2          300.08
3        15004.25
4          242.40
           ...
99452      293.25
99453       20.92
99454       20.92
99455    16800.00
99456      105.57
Name: total_spent, Length: 99457, dtype: float64